language: java
jdk:
- oraclejdk8
dist: trusty
sudo: false

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start &
  - sleep 3

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libstdc++-4.9-dev
      - google-chrome-stable

after_success:
- ./gradlew jacocoTestReport coveralls
