<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:include="fragments/base :: head(title=Title)">
        <title>k</title> 
    </head>
    <body>
        <script type="text/javascript" language="JavaScript">// <![CDATA[
            function checkAll(formname, checktoggle)
            {
                var checkboxes = new Array();
                checkboxes = document[formname].getElementsByTagName('input');

                for (var i = 0; i < checkboxes.length; i++) {
                    if (checkboxes[i].type == 'checkbox') {
                        checkboxes[i].checked = checktoggle;
                    }
                }
            }
        // ]]></script>

        <div th:include="fragments/base :: menu" />

        <!--        <div th:if="${userLoggedIn}">-->
        <div class="form-group blu-margin">
            <form class="navbar-form" action="#" th:action="@{/addnew}" th:object="${entryTypeForm}" th:method="POST">
                <select class="form control" th:field="*{selection}">
                    <option th:each="entryType : *{entryTypes}"
                            th:value="${entryType}"
                            th:text="${entryType}"></option>
                </select>
                <button type="submit" name="add" class="btn btn-default">Add</button>
            </form>    
        </div>
        <!--        </div>-->

        <form action="#" name="entryList" th:action="@{/list/selected}" th:object="${entryCheckBoxForm}" th:method="POST">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>type</th>
                        <th>bibtexkey</th>
                        <th>author(s)</th>
                        <th>title</th>
                    </tr>
                </thead>

                <tbody th:each="entry : ${entries}">
                    <tr>
                        <td>
                            <a href="#" th:href="@{/edit/{entrytype}/{id}/(entrytype = ${entry.entryType}, id = ${entry.id})}">
                                <span th:text="${entry.id}">id</span>
                            </a>
                        </td>
                        <td>
                            <span th:text="${entry.entryType}">entrytype</span>
                        </td>
                        <td>
                            <span th:text="${entry.bibTexKey}">bibkey</span>
                        </td>
                        <td>
                            <span th:text="${entry.authorString}">auth</span>
                        </td>
                        <td>
                            <span th:text="${entry.title}">title</span>
                        </td>
                        <td>
                            <input type="checkbox" th:field="*{selected}" th:value="${entry.id}" />
                        </td>
                        <td>
                            <a class="btn btn-danger btn-sm" 
                               href="#" 
                               th:href="@{/delete/{entrytype}/{id}/(entrytype = ${entry.entryType}, id = ${entry.id})}"
                               onclick="return confirm('Really remove?')">Remove</a>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td colspan="4"></td>
                        <td>
                            <label for="select-all">select all</label>
                        </td>
                        <td>
                            <span><input type="checkbox" name="select-all" onclick="checkAll('entryList', true)" /></span>
                        </td>
                        <td>
                            <button type="submit" name="action" value="remove"
                                    class="btn btn-danger" 
                                    onclick="return confirm('Really remove?')">Remove selected</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5"></td>
                        <td>
                            <label>Filename:</label>
                            <input type="text" th:field="*{filename}" />
                        </td>
                        <td>
                            <button type="submit" name="action" value="bibtex"
                                    class="btn btn-default">BibTex selected</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </body>
</html>
